/*
    Editado por: Sergio Bravo
    Estilos como padre la etiqueta body
*/
/*==========================================================================*/
/* Fuentes de google font*/
@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');

:root {
    --gris: #ddd;
    --blanco: #ffffff;
    --gisObscuro: #5b5b5f;
}

*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 18px;
    color: var(--gisObscuro);
}

/*==========================================================================*/
/*reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*font: inherit;*/
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*==========================================================================*/
/*mucacran*/
body
{
    margin: 0px auto;
    width: 80%;
}

.pantalla1
{
    background-color: var(--gris);
}

.pantalla1 h1
{
    margin: 100px 0;
    margin-bottom: 50px;
    font-family: 'Patua One', cursive;
    font-size: 2em;
    color: var(--gisObscuro);
}

.pantalla1 section > div
{
    background-color: var(--blanco);
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
}

.pantalla1 section header + div{
   
}

.pantalla1 section header + div details summary {
   padding-bottom: 20px;
   font-size: 20px;
}

.pantalla1 section header + div details summary + form{
    padding-bottom: 20px;
}

.pantalla1 section header + div details summary + form label{
    padding-bottom: 20px;
    margin-right: 10px;
}

.pantalla1 section header + div details summary + form input{
    padding: 10px;
    margin-right: 10px;
    
    /*border-top:2px;*/
}
.pantalla1 section header + div details summary + form button,
.pantalla1 section header + div details + div button
{
    box-sizing: content-box;
    background-color: var(--gris);
    padding: 10px 20px;
    margin: 0px;
    border:0px;
}

.pantalla1 section header + div details summary + form button:hover
{
    background-color: var(--gisObscuro);
    color: var(--blanco);
    margin: 0px;
}

.pantalla1 section header + div details + div
{
    margin: 0 auto;
    width: 100px;
}
/*==========================================================================*/
/*RESPONSIVE*/